@font-face {
    font-family: "Roboto";
    src: url("src/Roboto/Roboto-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "MainFont";
	src: url("src/Golos_Text/GolosText-VariableFont_wght.ttf") format("truetype");
  }

.container{
    font-family: "MainFont", sans-serif;
    padding-top: 61px!important;
}

.part{
    margin-bottom: 30px;
}
p.subtitle{
    margin-bottom: -20px!important;
}
h3.subtitle{
    margin-bottom: 40px!important;
}

h1.is-3{
    /* text-transform: uppercase; */
    font-weight: 400;
    margin-top: 30px!important;
}
.get-up{
    margin-bottom: -50px!important;
}

ul.action-list>li::marker{
    content: '> ';
    font-size: 1.2em;
    font-weight: 500;
}

ul.action-list>li{
    margin-left: 20px;
}
/* The sidebar menu */
.menu {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    padding-top: 65px;
    font-family: "Roboto", sans-serif;
  }

.menu::-webkit-scrollbar {
    display: none;
  }

.blue{
    background-color: rgb(222, 222, 255);
}
.yellow{
    background-color: rgb(254, 255, 197);
}
.red{
    background-color: rgb(255, 214, 204);
}
.mark{
    background-color: rgb(255, 236, 126);
}

@media screen and (max-width: 992px) {
    /* .menu {
      display: none!important;
    } */
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .columns{
        width: 99%;
        padding-top: 10px!important;
    }
    .menu {
        position: fixed!important;
        top: 0px!important;
        right: 0px!important;
        bottom: 0px!important;
        left: 0px!important;
        height: 100vh!important;
        width: 100vh!important;
        /* background-color: rgba(231, 231, 231, 1)!important; */
      }
      .burger{
        z-index: 100;
        background-color: black;
      }
      .navbar-burger:hover {
        background-color: transparent!important;
      }
  }

@media (max-width: 480px) {
    .media {
      flex-direction: column;
    }
  }
